[Unit]
Description=Ammayti Blog
After=network.target

[Service]
User=root
Group=root

WorkingDirectory=/home/blog

ExecStart=/home/blog/venv/bin/gunicorn \
    --workers 2 \
    --bind 127.0.0.1:8080 \
    app:app

Restart=always
RestartSec=5

[Install]
WantedBy=multi-user.target