<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Pradyumna Shenvi's Blog</title>
</head>

<body>

    <div>

        <h3>Click to View</h3>

        <ul>
            {% for post in posts %}
            <li>
                <a href="/{{ post.slug }}">
                    {{ post.title }}
                </a>
            </li>
            {% endfor %}
        </ul>

    </div>

</body>

</html>