<!DOCTYPE html>
<html lang="en">

<head>
    <title>Pradyumna Shenvi's Blog</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}"/>
</head>

<body>

    <div class="sitemap">

        <h3>Click to View</h3>

        <ul>
            {% for post in posts %}
            <li>
                <a href="/{{ post.slug }}">
                    {{ post.title }}
                </a>
            </li>
            {% endfor %}
        </ul>

    </div>

</body>

</html>